<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274590490195-kidg48efmlnekrthh6r2d4cg9eto4p7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274590490195-kidg48efmlnekrthh6r2d4cg9eto4p7c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>274590490195-ooc08hvvdqfh25dnkebm30527e6l24r4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBR9V5WD2G469-qQaqMuWAVAmxya52xXZk</string>
	<key>GCM_SENDER_ID</key>
	<string>274590490195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ventsys.pideyapp</string>
	<key>PROJECT_ID</key>
	<string>pideyapp-3db95</string>
	<key>STORAGE_BUCKET</key>
	<string>pideyapp-3db95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274590490195:ios:3bbc7346d8acaaa9f370a6</string>
	<key>DATABASE_URL</key>
	<string>https://pideyapp-3db95.firebaseio.com</string>
</dict>
</plist>